<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanhe.college.dao.TrainingTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hanhe.college.entity.TrainingType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_type_id" property="userTypeId" jdbcType="BIGINT" />
    <result column="uav_type_id" property="uavTypeId" jdbcType="BIGINT" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="uav_type" property="uavType" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_ip" property="operateIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_type_id, uav_type_id, user_type, uav_type, name, state, operator, operate_time, 
    operate_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from college_training_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from college_training_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hanhe.college.entity.TrainingType" >
    insert into college_training_type (id, user_type_id, uav_type_id, 
      user_type, uav_type, name, 
      state, operator, operate_time, 
      operate_ip)
    values (#{id,jdbcType=BIGINT}, #{userTypeId,jdbcType=BIGINT}, #{uavTypeId,jdbcType=BIGINT}, 
      #{userType,jdbcType=VARCHAR}, #{uavType,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{operateIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.hanhe.college.entity.TrainingType" >
    insert into college_training_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userTypeId != null" >
        user_type_id,
      </if>
      <if test="uavTypeId != null" >
        uav_type_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="uavType != null" >
        uav_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="operateIp != null" >
        operate_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userTypeId != null" >
        #{userTypeId,jdbcType=BIGINT},
      </if>
      <if test="uavTypeId != null" >
        #{uavTypeId,jdbcType=BIGINT},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="uavType != null" >
        #{uavType,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null" >
        #{operateIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanhe.college.entity.TrainingType" >
    update college_training_type
    <set >
      <if test="userTypeId != null" >
        user_type_id = #{userTypeId,jdbcType=BIGINT},
      </if>
      <if test="uavTypeId != null" >
        uav_type_id = #{uavTypeId,jdbcType=BIGINT},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="uavType != null" >
        uav_type = #{uavType,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null" >
        operate_ip = #{operateIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanhe.college.entity.TrainingType" >
    update college_training_type
    set user_type_id = #{userTypeId,jdbcType=BIGINT},
      uav_type_id = #{uavTypeId,jdbcType=BIGINT},
      user_type = #{userType,jdbcType=VARCHAR},
      uav_type = #{uavType,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_ip = #{operateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getAvailable" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from college_training_type
    where state = 1
    ORDER BY id ASC
  </select>
  <select id="countByName" parameterType="map" resultType="int">
    SELECT count(1)
    FROM  college_training_type
    WHERE name = #{name} AND state = 1
    <if test="id != null" >
      AND id != #{id}
    </if>
  </select>
  <select id="getByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM college_training_type
    WHERE id IN (${ids})
    ORDER BY id ASC
  </select>
  <select id="isExist" parameterType="map" resultType="int">
    SELECT count(1)
    FROM  college_training_type
    WHERE state = 1
    <if test="userTypeId != null" >
      AND user_type_id = #{userTypeId,jdbcType=BIGINT}
    </if>
    <if test="uavTypeId != null" >
      AND uav_type_id = #{uavTypeId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>